<%- include('header.html') %>

  <p>User ID: <%= session.userId %></p>

  <% if (!session.userId) { %>
    <% // contenido para usuarios NO logados  %>
    <p><a href="/login">Login</a> to access your agents</p>
  <% } else { %>
    <h2><%= __('Agents') %></h2>
    <% agents.forEach(agent => { %>
      <p>
        <img
          src="<%= agent.avatar ? `/avatars/${agent.avatar}` : 'https://placehold.co/30' %>"
          alt="avatar"
          width="30"
        >
        <%= __('{{name}} is {{age}} years old', agent) %>
        <a href="/agents/delete/<%= agent._id%>"><i class="bi bi-trash3"></i></a>
      </p>
    <% }) %>
  <% } %>

  <h2><%= __('Conditionals') %></h2>

  <p>El segundo actual es <%= segundoActual %></p>
  <% if (esPar) { %>
    <p>El segundo actual es par.</p>
  <% } else { %>
    <p>El segundo actual es impar.</p>
  <% } %>

  <%= codigo %>

  <h2><%= __('Pluralization example') %></h2>
  <p>0 <%= __n('Mouse', 0) %></p>
  <p>1 <%= __n('Mouse', 1) %></p>
  <p>2 <%= __n('Mouse', 2) %></p>
  <p>3 <%= __n('Mouse', 3) %></p>
  <p>4 <%= __n('Mouse', 4) %></p>

<%- include('footer.html') %>